{% extends "layout.html" %}

{% block main %}
    <div class="section">
        <h2>Stocks Owned</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock["symbol"] }}</td>
                        <td>{{ stock["name"] }}</td>
                        <td>{{ stock["shares"] }}</td>
                        <td>{{ stock["price"] }}</td>
                        <td>{{ stock["total"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Cash</th>
                    <td>{{ cash }}</td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>TOTAL</th>
                    <td>{{ g_total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}