{% extends "layout.html" %}

{% block main %}
    <div class="section">
        <h2>Quotes</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ quotes["name"] }}</td>
                    <td>{{ quotes["price"] }}</td>
                    <td>{{ quotes["symbol"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}